.main {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: var(--padding);
}
.main p,
.main i {
  font-size: 14px;
}

.userBar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.userImage {
  border-radius: 50px;
  object-fit: cover;
}
.userBarText {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.userBar h1 {
  font-size: 28px;
}

.dataContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.subscribtionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
