.main {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: var(--padding);
  gap: 30px;
  padding-top: 30px;
}
.main p,
.main i {
  font-size: 14px;
}

.userBar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: white;
}
.userImage {
  border-radius: 50px;
  object-fit: cover;
  border: 2px solid white;
}
.userBarText {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.userBar h1 {
  font-size: 28px;
}

.dataContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f1f1f1;
  border: 2px solid rgba(128, 128, 128, 0.682);
  border-radius: 6px;
  padding: 20px 10px;
  gap: 20px;
  color: var(--main-color);
}

.status {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: var(--main-color);
}

.subscribtionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f1f1f1;
  border: 2px solid rgba(128, 128, 128, 0.682);
  border-radius: 6px;
  padding: 20px 10px;
  gap: 20px;
  color: var(--main-color);
}

.buyNowBtn {
  border: none;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: white;
  font-family: inherit;
  border-radius: 50px;
  transition: var(--transition);
}
.buyNowBtn:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}
