.main {
  width: 100%;
  max-width: var(--max-width);
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: var(--padding);
}
.userBar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.userBarText {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.userBar h1 {
  font-size: 28px;
}
.userBarText p {
  font-size: 13px;
}

.dataContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
