:root {
  --main-color: rgba(0, 73, 175, 255);
  --secondary-color: rgba(74, 125, 193, 172);
  --max-width: 1180px;
  --padding: 0 15px;
  --transition: 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}
