.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
}
.wrapper {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
